* {
    box-sizing: border-box;
  }

  body {
    background-image:url(../assets/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   }
   
   h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
   }

   video {
     display: block;
     width: 800px;
     margin: 2rem auto;
     mask-image:url("../assets/nut.svg");
      -webkit-mask-image:url("../assets/nut.svg");
      -webkit-mask-mode: luminance;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 50%;
      -webkit-mask-position: center center;
   }

   audio {
    display:block;
    margin:1rem auto;
  }