* {
    box-sizing: border-box;
  }

  body {
    background-image:url(images/background.svg);
    background-position: center;
    text-align: center;
   }
   
   h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
   }

   video {
     display: block;
     margin: 5rem auto;
     mask-image:url("../assets/nut.svg");
      -webkit-mask-image:url("../assets/nut.png");
      -webkit-mask-mode: luminance;
      -webkit-mask-repeat: repeat-x;
      -webkit-mask-size: 50%;
      -webkit-mask-position: center center;
   }

   audio {
    display:block;
    margin:2rem auto;
  }